#landing {
  overflow: hidden;
  position: relative;
  z-index: 0;

  .container {
    min-height: 350px;
  }
}

.home-logo {
  @apply mb-5 mx-auto w-3/4;

  animation-delay: 0.5s;
}

.tagline {
  @apply text-white text-2xl text-center font-medium;

  animation-delay: 1s;
  animation-duration: 1s;
}

.home .animate__animated {
  opacity: 0;
}

#homeInfo {
  overflow: hidden;
  min-height: 1030px;

  .section-2 {
    @apply w-full relative;

    min-height: 600px;
  }
}

#Homelist {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.home {
  .brand img {
    display: none;
  }
}

.home-circle {
  position: absolute;
  right: -10%; //5%;
  bottom: 4%; //10%
  background: $primary;
  border-radius: 100%;
  height: 125vw; //45vw;
  width: 125vw; //45vw;

  p {
    font-size: 1em; //1.25em;
    line-height: 1.2em;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%);
    color: black;
    width: 72%; //80%;
  }
}

.home-section {
  padding: 1em 0;

  ul {
    padding-left: 15px;

    li {
      line-height: 1.25em;
      position: relative;
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 18px;
      padding-left: 5px;

      &::before {
        content: "›";
        font-family: "Arial Black", serif;
        position: absolute;
        left: -10px;
        top: -4px;
        font-size: 1.5em;
        color: white;
      }
    }
  }
}

@screen sm {
  .home-circle {
    right: -7%;
    bottom: 10%;
    height: 550px;
    width: 550px;

    p {
      font-size: 1em;
      width: 74%;
      left: 46%;
    }
  }
}

@screen md {
  #homeInfo {
    min-height: 700px;
  }

  #landing {
    .container {
      min-height: 400px;
    }
  }

  .home-circle {
    right: -8%;
    bottom: 14%;
    height: 65vw;
    width: 65vw;

    p {
      font-size: 1em;
      line-height: 1.2em;
      width: 70%;
      left: 46%;
    }
  }
}

@screen lg {
  #landing {
    .container {
      min-height: 600px;
    }
  }

  #Homelist {
    min-height: 820px;
  }

  .home-circle {
    right: 2%;
    bottom: 15%;
    height: 50vw;
    width: 50vw;

    p {
      line-height: 1.2em;
      width: 70%;
      left: 47%;
    }
  }
}

@screen xl {
  .home-circle {
    right: 5%;
    bottom: 15%;
    height: 600px;
    width: 600px;

    p {
      font-size: 1.25em;
      width: 75%;
      left: 47%;
    }
  }

  #Homelist {
    min-height: auto;
    height: auto;

    .container {
      padding-top: 0;
      padding-bottom: 0;
      height: 650px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  #Homelist .container {
    min-height: 800px;
  }

  #landing {
    .container {
      min-height: 750px;
    }
  }

  #homeInfo .section-2 {
    min-height: 800px;
  }
}
