:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.entry-content {
  h2 {
    color: #000;
    border-top: 5px solid #dc6e37;
    padding-top: 8px;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.01em;
    display: inline-block;
  }

  h3 {
    @apply text-3xl text-black mt-5;

    span {
      @apply text-primary;
    }
  }

  ul {
    list-style: none;
    padding-left: 15px;

    li {
      position: relative;
      padding-left: 3px;
      font-size: 18px;
      line-height: 1.75;

      &::before {
        content: "■";
        font-family: "Arial Black", serif;
        position: absolute;
        left: -15px;
        top: -7px;
        font-size: 1.2em;
        color: $primary;
      }
    }
  }
}

.h-custom {
  min-height: 180px;
}

.custom-bg {
  .entry-content h2 {
    color: white;
    border-color: white;
  }
}

.service-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .service-icon {
    width: 100%;

    img {
      width: 130px;
      height: auto;
      margin: 15px 0;
    }
  }

  .service-description {
    padding-left: 15px;

    h2 {
      @apply text-2xl mb-0;

      font-weight: 500;
    }
  }
}

#clientQuotes {
  @apply bg-grey-darker;

  blockquote {
    line-height: 1.4em;
    position: relative;
    color: white;
    font-weight: 500;
    margin: 25px 0;

    &::before {
      content: url(../images/quoteMark.png);
      top: 7px;
      left: -52px;
      width: 10px;
      position: absolute;
      transform: scale(0.2);
      transform-origin: top;
    }
  }

  .quotename {
    color: darken($primary, 10%);
  }
}

@screen md {
  .h-custom {
    min-height: 400px;
  }

  .service-wrap {
    flex-direction: row;

    .service-icon {
      width: 150px;
    }

    .service-description {
      flex: 1;
    }
  }
}

@screen lg {
  .h-custom {
    min-height: 600px;
  }

  .service-wrap {
    margin-bottom: 70px;
    max-width: 75%;

    .service-description {
      padding-left: 15px;

      h2 {
        @apply text-4xl;
      }
    }
  }

  #services .container > div:nth-child(2) {
    margin-left: 7vw;
  }

  #services .container > div:nth-child(3) {
    margin-left: 10vw;
  }

  #bioContainer {
    img {
      max-width: 70%;
      height: auto;
    }
  }
}

@screen lg {
  #bioContainer {
    margin-top: -15vh;

    img {
      max-width: 350px;
    }

    > div:nth-child(1) {
      margin-top: 25vh;
    }
  }
}

@screen xl {
  .service-wrap {
    margin-bottom: 150px;
    max-width: 800px;
  }
}
